html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
header {
  z-index: 999;
  padding: .2em 0 ;
  background: #f0cfc3;
  position: fixed;
}

[hidden], template {
  display: none;
}
a:active, a:hover {
  outline: 0;
}

b, optgroup, strong {
  font-weight: 700;
}

h1 {
  margin: .67em 0;
}
h1 .logo {
  font-size: 1rem;
  line-height: 1rem;
  border: 1px double #fff;
  border-radius: 50%;
  padding: .65rem 1.2rem;
}

small {
  font-size: 80%}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -.5em;
}
sub {
  bottom: -.25em;
}
img {
  border: 0;
  vertical-align: middle;
  display: inline-block;
  max-width: 100%}
svg:not(:root) {
  overflow: hidden;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre, textarea {
  overflow: auto;
}
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button, select {
  text-transform: none;
}
button, html input[type=button], input[type=reset] {
  appearance: button;
  cursor: pointer;
}
button[disabled], html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}
input[type=search] {
  appearance: none;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
legend {
  border: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td, th {
  padding: 0;
}
[class*=" w-icon-"], [class^=w-icon-] {
  font-family: webflow-icons!important;
  /* speak: none; */
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: zeitung-mono, sans-serif;
  /* color: #333; */
  font-size: 14px;
  line-height: 20px;
  font-weight: 200;
}
h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Trovas, 'Times New Roman', sans-serif;
  color: #100f0d;
  font-size: 12em;
  line-height: 1em;
  font-weight: 400;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Trovas, 'Times New Roman', sans-serif;
  color: #100f0d;
  font-size: 10em;
  line-height: 1em;
  font-weight: 400;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 1em;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.2em;
  line-height: 1.3em;
}
a {
  background-color: transparent;
  color: #b4b78c;
  font-size: 1em;
  line-height: 1em;
  text-decoration: none;
}
ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
  font-size: 1.2em;
  line-height: 1.3em;
}
.display {
  margin-top: 0;
  margin-bottom: -32px;
  margin-left: 23px;
  direction: ltr;
  font-family: Trovas, 'Times New Roman', sans-serif;
  color: #fff;
  font-size: 10.525em;
  line-height: 1.1em;
  font-weight: 400;
  white-space: pre-wrap;
}
.sect {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 3.75em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}


/*배경 */
.full-sect {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 980px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #f0cfc3;
  background-position: 50% 50%;
  /* background-repeat: repeat-y; */
}
.hero-img-wrapper {
  position: absolute;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -20;
  width: 45%;
  height: 100%;
  float: right;
  background-image: url(../img/bg_green.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.display-line {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}
.img-wrapper {
  overflow: hidden;
}
.gold-lines {
  font-family: Trovas, 'Times New Roman', sans-serif;
  color: #b4b78c;
  font-size: 2em;
  line-height: 1em;
}
.sf-nope {
  font-family: Trovas, 'Times New Roman', sans-serif;
  color: #b4b78c;
  font-size: 1.221em;
  line-height: 1.3em;
  text-decoration: line-through;
}
.div-block {
  margin-left: 20px;
}
.section-wrapper {
  height: 100vh;
}

/* 목차 호버 이미지 */
.color-swatch {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 50%}
.color-swatch._5 {
  background-color: #d3d3d3;
}
.color-swatch._7 {
  background-color: #419dc6;
}
.color-swatch._3 {
  background-color: #e5e5e5;
}
.color-swatch._1 {
  background-color: #fff;
}
.color-swatch._6 {
  background-color: #ff7f00;
}
.color-swatch._2 {
  background-color: #000;
}
.color-swatch._4 {
  background-color: #1f1f1f;
}
.d40 {
  position: relative;
  z-index: 5;
  width: 40%}
.b50 {
  margin-bottom: 50px;
}
.p {
  color: #fff;
  font-size: 1.2em;
  line-height: 1.35em;
}
.hollow-button {
  padding: 19px 44px;
  border: 1px solid #fff;
  border-radius: 100px;
  background-color: transparent;
  -webkit-transition: 250ms;
  transition: 250ms;
  color: #fff;
  font-size: 1.4em;
  line-height: 1em;
  letter-spacing: .05em;
  text-transform: uppercase;
  white-space: nowrap;
}
.hollow-button:hover {
  background-color: #fff;
  color: #000;
}
.d30 {
  position: relative;
  z-index: 5;
  width: 30%}
.sg-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-top: 1px solid rgba(51, 51, 51, .2);
}
.d50 {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.t50 {
  margin-top: 50px;
}
.b30 {
  margin-bottom: 30px;
}
.t10 {
  margin-top: 10px;
}
.paragraph-wrapper {
  max-width: 600px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.t30 {
  margin-top: 30px;
}
.section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  padding: 8em 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: 50% 0;
  background-repeat: repeat-y;
}
.section.is-b-half {
  padding-bottom: 4em;
}
.section.is-more-down {
  margin-top: 50vh;
  background-color: #f0cfc3;
}
.section.black {
  background-color: #f0cfc3;
}
.section.black.use-cases {
  margin-top: -8em;
  padding: 0;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.section.black.contacts {
  padding: 3em 2em 4em;
}
.section.is-full {
  padding: 0;
}
.container {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 100%;
  max-width: 1600px;
  padding-right: 3em;
  padding-left: 3em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.t20 {
  margin-top: 20px;
}
.button {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-right: -3px;
  margin-left: -3px;
  padding: 20px 45px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100px;
  background-color: #fff;
  -webkit-transition: 250ms;
  transition: 250ms;
  color: #000;
  font-size: 1.4em;
  line-height: 1em;
  font-weight: 400;
  text-align: center;
  letter-spacing: .05em;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
}
.button:hover {
  background-color: #1f1f1f;
  color: #fff;
}
.button.is-xl {
  position: relative;
  padding: 25px 55px;
  font-size: 2.2em;
}
.button.is-cta {
  padding: 23px 50px;
  font-size: 2em;
}
.sg-h3 {
  width: 140px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: rgba(51, 51, 51, .65);
  font-size: 16px;
}
.d70 {
  position: relative;
  z-index: 5;
  width: 70%}
.d100 {
  position: relative;
  z-index: 5;
  width: 100%}
.b10 {
  margin-bottom: 10px;
}
.is-tab-full {
  width: auto;
}
.sg-h2 {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 1.4em;
}
.is-b-less {
  padding-bottom: 0;
}
.padding-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.list-item {
  margin-bottom: 10px;
}
.rich-txt-block {
  max-width: 1000px;
}
.vw-heading {
  font-family: Trovas, 'Times New Roman', sans-serif;
  font-size: 7.5em;
  line-height: 1em;
}
.d60 {
  position: relative;
  z-index: 5;
  width: 60%}
.is-t-less {
  padding-top: 0;
}
.t40 {
  margin-top: 40px;
}
.is-mob-full {
  width: auto;
}
.b20 {
  margin-bottom: 20px;
}
.body {
  color: #100f0d;
  font-size: 1vw;
}
.heading {
  font-family: Trovas, 'Times New Roman', sans-serif;
}
.heading-2 {
  font-family: zeitung-mono, sans-serif;
}
.hero-p {
  max-width: 34em;
  margin-left: 8.8em;
  color: hsla(0, 0%, 100%, .9);
  font-size: .9em;
  line-height: 1.6em;
  font-weight: 100;
  letter-spacing: -.02em;
  text-transform: uppercase;
}
.padding-34 {
  height: 3.31em;
}
.handwritten {
  position: absolute;
  left: auto;
  top: auto;
  right: -2%;
  bottom: -15%;
  width: 13rem;
  height: 5rem;
}
.labels {
  position: absolute;
  left: 2%;
  top: auto;
  right: auto;
  bottom: 40%;
  display: block;
  /* -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg); */
  transform: rotate(-90deg);
  color: #b4b78c;
  font-size: .8em;
  line-height: 1.5em;
  font-weight: 100;
  letter-spacing: 8px;
  text-transform: uppercase;
  cursor: default;
}
.labels.right {
  left: auto;
  right: 2%}
.scroll-down-icon {
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 40%;
  padding: 18px 13px 45px;
  border: 1px solid #b4b78c;
  border-radius: 40px;
  opacity: 1;
}

/* 중간 원섹션 */
.top-bubble {
  width: 300vw;
  height: 120vw;
  margin-left: -100vw;
  border-radius: 50%;
  background-color: #fff;
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: repeat-y;
}
.top-bubble.butto {
  background-color: #fff;
  background-image: none;
}
.bubble-wrap {
  position: absolute;
  left: 0;
  top: -7.5vw;
  right: 0;
  bottom: 0;
  overflow: hidden;
}


.quote-text {
  font-family: Trovas, 'Times New Roman', sans-serif;
  color: #5c7547;
  font-size: 4.59em;
  line-height: 1em;
  text-align: center;
}
.qote-creds {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #5c7547;
  font-size: 1.4em;
  line-height: 2.5em;
  font-weight: 400;
  text-align: center;
}
.qote-wrapper {
  position: relative;
  margin-top: -3em;
}
.qote-wrapper.first {
  overflow: hidden;
  width: 100%;
  background-image: none;
}
.flex-columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1280px;
  margin-top: 6em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 7em;
  grid-row-gap: 7em;
}
.flex-columns.no-margings {
  margin-top: 0;
}
.col50 {
  position: relative;
  width: 50%}
.h3 {
  font-family: zeitung-mono, sans-serif;
  color: #100f0d;
  font-size: .9em;
  font-weight: 200;
  letter-spacing: 1em;
  text-decoration: underline;
  text-transform: uppercase;
}
.padding-5em {
  height: 5em;
}
.padding-2em {
  height: 2em;
}

.p1 {
  font-size: .9em;
  line-height: 1.6em;
  text-transform: uppercase;
}
.p1.inline {
  display: inline-block;
  margin-right: 3em;
}

/* 워크섹션 */
#work {
  margin-top: -1em;
  height: 100vh;
  background: #121212;
}
#work .workList {
  font-size: 1.2em;
  margin: 1em 0;
}
.work-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.case-n {
  display: inline-block;
  margin-top: -1em;
  margin-right: 10px;
  color: #fff;
  font-size: 3.1em;
  line-height: 1em;
  font-weight: 400;
}
.case-h1 {
  display: inline-block;
  margin-right: 1em;
  padding-top: .4em;
  padding-bottom: .2em;
  font-family: Trovas, 'Times New Roman', sans-serif;
  color: #fff;
  font-size: 3.1em;
  line-height: 1em;
}
.col60 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.col30 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
}
.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3em;
  margin-bottom: 3em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 6em;
  grid-row-gap: 6em;
}
.columns.footer {
  margin-top: 1em;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.p1-white {
  max-width: 34em;
  color: hsla(0, 0%, 100%, .9);
  font-size: .9em;
  line-height: 1.6em;
  font-weight: 100;
  letter-spacing: -.02em;
  text-transform: uppercase;
}
.scroll-right-icon {
  display: inline-block;
  padding: 10px 45px 10px 13px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border: 1px solid #b4b78c;
  border-radius: 40px;
  opacity: 1;
}
.year-label {
  display: block;
}
.bg-call {
  position: relative;
  z-index: 100;
  /* display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox; */
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 80vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}
.sapecer-8 {
  height: 8em;
}
.contact-warapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.contact-text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: Trovas, 'Times New Roman', sans-serif;
  color: #fff;
  font-size: 5.3em;
  line-height: 1em;
  font-weight: 200;
}
.contacts-wrapper {
  position: relative;
}
.footer-link {
  display: block;
  font-size: .9em;
  line-height: 2em;
  text-transform: uppercase;
}
.photo-creds {
  font-family: Trovas, 'Times New Roman', sans-serif;
  color: #fff;
  font-size: 1em;
  font-weight: 200;
}
.footer-text {
  margin-top: 5em;
  color: #fff;
  font-size: .8em;
  line-height: 2em;
  font-weight: 100;
  text-transform: uppercase;
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  z-index: 1000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 7em;
  padding-right: 2em;
  padding-left: 2em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: .9em;
}
.nav-link {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  color: #fff;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
}
.nav-link.w--current {
  color: #b4b78c;
}
.logo {
  font-family: Trovas, 'Times New Roman', sans-serif;
  color: #fff;
  font-weight: 400;
  text-align: center;
}

.brand {
  position: fixed;
  left: auto;
  top: auto;
  right: 47%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 7em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.lottie {
  z-index: 20;
  width: 25em;
}
.cursor-wrap {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.cursor-wrap.mbm-ex-div {
  opacity: 0;
  -webkit-transition: opacity 175ms cubic-bezier(.215,  .61,  .355,  1);
  transition: opacity 175ms cubic-bezier(.215,  .61,  .355,  1);
}
.cursor-dot {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  border-radius: 50%}
.hover-img-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.floating-img {
  display: none;
}
.in-q-link {
  display: inline;
  color: rgba(16, 15, 13, .64);
  cursor: pointer;
}





/* 마지막 섹션 */
.bg-image-holder {
  width: 200px;
  height: 500px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -999;
  background-image: url("../img/bg_green.jpg");
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.case-name-wrapper {
  margin-right: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.lottie-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 23%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.texts-wrapper {
  position: relative;
}
.office-img {
  overflow: hidden;
  height: 54rem;
  background-image: url(../img/bg_green.jpg);
  background-position: 0 0;
  background-size: cover;
}
.ivy-xl {
  position: relative;
  z-index: 5;
  margin-right: -30px;
  margin-left: -30px;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  color: #fff;
  font-size: 12.54em;
  line-height: .9em;
  font-style: italic;
  font-weight: 300;
  letter-spacing: .02em;
  text-transform: uppercase;
}
.case-img-wrapper {
  width: 100%;
  height: 32em;
  background-image: url("https://uploads-ssl.webflow.com/62a753b7c24d4ba72aa0f213/62c4e3dcb8637dc88f573a38_case-vela.webp");
  background-position: 50% 50%;
  background-size: cover;
}
.case-img-wrapper.vela {
  background-image: url("https://uploads-ssl.webflow.com/62a753b7c24d4ba72aa0f213/62c4ec1214dc85696c1545e6_vela-img-1.webp");
  background-position: 50% 50%}
.case-img-wrapper.amory {
  background-image: url("https://uploads-ssl.webflow.com/62a753b7c24d4ba72aa0f213/62c4e499f103559393d89099_case-amory.webp");
}
.case-img-wrapper.ge {
  background-image: url("https://uploads-ssl.webflow.com/62a753b7c24d4ba72aa0f213/62c74745c57c57e0dddc4731_GE-cover.webp");
}
.case-img-wrapper.whisp {
  background-image: url("https://uploads-ssl.webflow.com/62a753b7c24d4ba72aa0f213/62c782b2d5c3fb4ca0645697_whisper-cover.webp");
}
.loader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2500;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}
.spinner-container {
  position: relative;
  z-index: 9999999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.lottie-loader {
  width: 8em;
}
.counterup {
  position: absolute;
  margin-bottom: 6px;
  font-size: 1.4em;
  line-height: 2em;
}
.img-parll-wrap {
  overflow: hidden;
  height: 54rem;
}
.case-heading {
  overflow: hidden;
  margin-top: 8rem;
  font-family: Trovas, 'Times New Roman', sans-serif;
  color: #100f0d;
  font-size: 8em;
  line-height: 1em;
  font-weight: 400;
}
.case-heading.white {
  color: #fff;
}
.case-heading.is-centered {
  text-align: center;
}
.case-heading.is-centered.is-smaller {
  padding-right: 2em;
  padding-left: 2em;
  font-size: 6em;
}
.img-frame {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-top: 3em;
  margin-bottom: 3em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.img-frame.is-overlap-down {
  position: relative;
  z-index: 100;
  overflow: visible;
  margin-bottom: -22.5em;
}
.img-frame.is-b-less {
  margin-bottom: 0;
}
.case-imgs {
  margin-top: 40px;
}
/* .bg-image-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 80vh;
  margin-top: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("https://uploads-ssl.webflow.com/62a753b7c24d4ba72aa0f213/62c7460db2197527260aecf6_wh-video-bg.webp");
  background-position: 50% 50%;
  background-repeat: no-repeat;
} */



/* 목차 이미지 */
.bg-image-section.vela {
  background-image: url("https://uploads-ssl.webflow.com/62a753b7c24d4ba72aa0f213/62c5af7b1d057e21122f1bee_1b-solar-storm-.webp");
}
.bg-image-section.amory {
  background-image: url("https://uploads-ssl.webflow.com/62a753b7c24d4ba72aa0f213/62c66805b1cd1bef0d1482be_amory-logo.webp");
  background-size: cover;
}
.bg-image-section.ge {
  background-image: url("https://uploads-ssl.webflow.com/62a753b7c24d4ba72aa0f213/62c778c073d01ca01961bcca_2-solar-storm-.webp");
  background-size: cover;
}
.bg-image-section.whisp {
  background-image: url("https://uploads-ssl.webflow.com/62a753b7c24d4ba72aa0f213/62c7460db2197527260aecf6_wh-video-bg.webp");
  background-size: cover;
}


.image-3 {
  z-index: 200;
}
.vela-ip-screenshot {
  overflow: hidden;
  border: 6px solid #303030;
  border-radius: 30px;
}
.vela-ip-screenshot._1 {
  margin-top: 40px;
}
.vela-ip-screenshot._2 {
  margin-top: 60px;
}
.vela-screenshot {
  z-index: 100;
  border: 6px solid #fff;
  border-radius: 10px;
}
.link {
  text-transform: uppercase;
}
.link.menu {
  padding-top: 8px;
  padding-bottom: 8px;
}
.subhead {
  font-size: .9em;
  line-height: 1.6em;
  font-weight: 400;
  text-transform: uppercase;
}

.colmns-limited-width {
  max-width: 1380px;
}
.spacer-5em {
  height: 5em;
}
.visit-cta {
  width: 100%;
  padding: .7em .5em .5em;
  background-color: #ececec;
  -webkit-transition: .6s cubic-bezier(.269,  .182,  0,  .984);
  transition: .6s cubic-bezier(.269,  .182,  0,  .984);
  font-family: Trovas, 'Times New Roman', sans-serif;
  color: #100f0d;
  font-size: 10em;
  line-height: 1em;
  font-weight: 400;
  text-align: center;
}
.visit-cta:hover {
  background-color: #b4b78c;
  color: #fff;
}
.case-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-top: .2em;
  padding-bottom: .1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background-color: #100f0d;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  font-family: Trovas, 'Times New Roman', sans-serif;
  color: #fff;
  font-size: 10em;
  line-height: 1em;
  font-weight: 400;
}
.case-footer:hover {
  background-color: #fff;
  color: #100f0d;
}
.foot-text-wrapper-2 {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  white-space: nowrap;
}
/* .footer-line {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #476a30;
  color: #fff;
  font-size: .6em;
  line-height: 1em;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
} */
.section-cases {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  padding: 8em 3em 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f1f1f1;
  background-image: url("https://uploads-ssl.webflow.com/62a753b7c24d4ba72aa0f213/62aa25ad2895ec3e0a507a44_grid-lines-2.svg");
  background-position: 50% 0;
  background-repeat: repeat-y;
}
.section-cases.is-full {
  padding: 0;
}
.case-columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1280px;
  padding-top: 3em;
  padding-bottom: 3em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.case-columns.with-gaps {
  grid-column-gap: 3em;
  grid-row-gap: 3em;
}
.case-display {
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%}
.spacer-15em {
  height: 15em;
}
.foot-text-wrapper-1 {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  white-space: nowrap;
}
.screens-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  white-space: nowrap;
}
.screen-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 444px;
  height: 277px;
  margin: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.flowing-screens-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100vw;
  white-space: nowrap;
}
.image-4 {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.case-heading-wrapper {
  overflow: hidden;
}

/* 우측상단메뉴 */
.dialog-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #476a30;
}
.work-line {
  overflow: hidden;
  -webkit-transition: -webkit-transform .2s cubic-bezier(.269,  .182,  0,  .984);
  transition: transform .2s cubic-bezier(.269,  .182,  0,  .984);
  transition: transform .2s cubic-bezier(.269,  .182,  0,  .984), -webkit-transform .2s cubic-bezier(.269,  .182,  0,  .984);
  font-family: Trovas, 'Times New Roman', sans-serif;
  color: #fff;
  font-size: 5em;
  line-height: 1.2em;
  font-weight: 400;
}
.work-line:hover {
  -webkit-transform: translate(10px, 0);
  -ms-transform: translate(10px, 0);
  transform: translate(10px, 0);
}
.spacer-1em {
  height: 5em;
}
.menu-nav-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 7em;
  padding-right: 2em;
  padding-left: 2em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.bg-wordmark {
  position: absolute;
  left: 0;
  top: auto;
  right: 0;
  bottom: 0;
  z-index: -1;
  margin-bottom: -.3em;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-family: Trovas, 'Times New Roman', sans-serif;
  color: #171717;
  font-size: 30em;
  line-height: 1em;
  font-weight: 400;
  white-space: nowrap;
}
.menu-img {
  overflow: hidden;
  height: 0;
}


/* 우측 워크메뉴 */
.bubble-wrap-menu {
  position: absolute;
  left: 0;
  top: -5.8vw;
  right: 0;
  bottom: 0;
  z-index: -2;
  overflow: hidden;
  background-color: #476a30;
}
.top-bubble-balck {
  width: 300vw;
  height: 120vw;
  margin-left: -100vw;
  border-radius: 50%;
  background-color: #476a30;
}
@media screen and (max-width:991px) {
  .display {
  margin-left: 0;
}
.sect {
  padding-right: 3.75em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.p {
  font-size: 15px;
  line-height: 1.4em;
}
.hollow-button {
  padding: 18px 42px;
  font-size: 17px;
}
.hollow-button:hover {
  background-color: transparent;
  color: #fff;
}
.button {
  padding: 18px 42px;
  font-size: 17px;
}
.button:hover {
  background-color: #fff;
  color: #476a30;
}
.button.is-xl {
  font-size: 28px;
}
.is-tab-full {
  width: 100%}
.vw-heading {
  font-size: 7em;
}
.hero-p {
  margin-left: 0;
  font-size: 1.2em;
}
.handwritten {
  right: -6%;
  bottom: -54%}
.flex-columns.no-margings {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #476a30;
}
.col50 {
  width: 100%}
.h3, .p1 {
  font-size: 1.2em;
}
.case-title.with-lines._01.w--current {
  overflow: hidden;
}
.col60 {
  width: 100%;
  padding-right: 3em;
  padding-left: 3em;
}
.col30.home {
  width: 100%}
.columns {
  padding-right: 3em;
  padding-left: 3em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-column-gap: 3em;
  grid-row-gap: 3em;
}
.p1-white {
  max-width: 100%;
  font-size: 1.2em;
}
.bg-call {
  height: 80vh;
  background: #f0cfc3;
}
.cursor-wrap.mbm-ex-div {
  display: none;
}
.office-img {
  height: 40em;
}
.ivy-xl {
  font-size: 11.7em;
}
.img-parll-wrap {
  height: 40em;
}
.case-imgs {
  padding-right: 3em;
  padding-left: 3em;
}
.bg-image-section {
  min-height: 60vh;
}
.link, .subhead {
  font-size: 1.2em;
}
.menu-img {
  display: none;
}
}@media screen and (max-width:767px) {
  .display {
  font-size: 5em;
  line-height: 1.6em;
}
.sect {
  padding-right: 3.75em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.full-sect {
  min-height: 600px;
  background: #f0cfc3;
}
.hero-img-wrapper {
  width: 40%;
  height: 100%;
  background-color: #f0cfc3;
}
.display-line {
  overflow: visible;
}
.gold-lines {
  font-size: 1.6em;
}
.b40 {
  margin-bottom: 20px;
}
.color-swatch {
  margin-bottom: 5px;
}
.b50 {
  margin-bottom: 35px;
}
.p {
  font-size: 14px;
}
.hollow-button {
  padding: 16px 38px;
  font-size: 16px;
}
.sg-row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.d50 {
  width: 100%}
.t50 {
  margin-top: 35px;
}
.b30 {
  margin-bottom: 15px;
}
.t10 {
  margin-top: 5px;
}
.t30 {
  margin-top: 15px;
}
.section {
  padding: 60px 20px;
}
.t20 {
  margin-top: 10px;
}
.button {
  padding: 16px 38px;
  font-size: 16px;
}
.button.is-xl {
  font-size: 22px;
}
.sg-h3 {
  margin-bottom: 12px;
  font-size: 12px;
}
.b10 {
  margin-bottom: 5px;
}
.padding-wrapper {
  font-size: 2.5vw;
}
.t40 {
  margin-top: 20px;
}
.is-mob-full {
  width: 100%}
.b20 {
  margin-bottom: 10px;
}
.hero-p {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.padding-34 {
  height: 6em;
}
.handwritten {
  display: none;
}
.labels {
  bottom: 50%}
.scroll-down-icon {
  margin-right: auto;
  margin-left: auto;
}
.quote-text {
  font-size: 3.5em;
}
.flex-columns {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.flex-columns.no-margings {
  padding-right: 2em;
  padding-left: 2em;
}
.col50 {
  width: 100%}
.quote-text-huge {
  font-size: 5em;
}
.case-h1, .case-title.with-lines._03 {
  overflow: hidden;
}
.col60 {
  padding-right: 0;
  padding-left: 0;
}
.col30 {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}
.columns {
  padding-right: 3em;
  padding-left: 3em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
}
.p1-white {
  max-width: 100%;
  font-size: 1.2em;
}
.bg-call {
  height: 80vh;
  background-position: 95% 95%, 50% 100%}
.contact-text {
  font-size: 3em;
}
.logo {
  line-height: 14px;
}
.brand {
  position: static;
}
.image-2 {
  height: 7em;
  margin-right: 10px;
}
.case-name-wrapper._2 {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.office-img {
  height: 65em;
}
.img-parll-wrap {
  height: 56em;
}
.case-heading {
  font-size: 8em;
}
.case-heading.is-centered.is-smaller {
  padding-right: 0;
  padding-left: 0;
}
.img-frame.is-overlap-down {
  margin-bottom: -25em;
}
.bg-image-section {
  min-height: 40vh;
  margin-top: 40px;
}
.bg-video {
  width: 45em;
  height: 28em;
}
.bg-video.smaller {
  height: 25em;
}
.vela-ip-screenshot._1, .vela-ip-screenshot._2 {
  margin-top: 0;
}
.custom-video.iphone {
  width: 345px;
}
.video-title-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}
.section-cases {
  padding: 60px 20px;
}
.case-columns {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.case-display {
  font-size: 8em;
}
.screen-wrapper {
  width: 148px;
  height: 92.33px;
  margin: 5px;
}
}@media screen and (max-width:479px) {
  .display {
  font-size: 4.6em;
  line-height: 1.2em;
}
.sect {
  padding: 8em 3em 0 3em ;
  /* padding-right: 3em;
  padding-left: 3em; */
}
.full-sect {
  padding-top: 8em;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.hero-img-wrapper {
  width: 60%;
  opacity: .34;
}
.gold-lines {
  font-size: 1.2em;
}
.sf-nope {
  font-size: .8em;
}
.p {
  font-size: 13px;
}
.hollow-button {
  padding: 15px 35px;
  font-size: 15px;
}
.section {
  padding: 10px 15px;
}
.section.quotes {
  overflow: hidden;
}
.button {
  padding: 15px 35px;
  font-size: 15px;
}
.button.is-xl {
  padding: 23px 48px;
  font-size: 18px;
}
.sg-h3 {
  width: 70px;
  font-size: 10px;
}
.padding-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.hero-p {
  width: 100%}
.padding-34 {
  height: 3em;
}
.labels, .labels.right {
  display: none;
}
.quote-text {
  font-size: 2em;
}
.qote-wrapper {
  margin-top: 2em;
  margin-bottom: 2em;
}
.qote-wrapper.first {
  margin-top: 2.3em;
}
.flex-columns {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}
.padding-5em {
  height: 3em;
}
.quote-text-huge {
  font-size: 2.7em;
}
.case-n {
  -webkit-transform: translate(0, -13px);
  -ms-transform: translate(0, -13px);
  transform: translate(0, -13px);
}
.col30 {
  padding-right: 0;
  padding-left: 0;
  grid-column-gap: 3em;
  grid-row-gap: 3em;
}
.col30.home {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.columns {
  grid-column-gap: 3em;
  grid-row-gap: 3em;
}
.bg-call {
  height: 80vh;
}
.contact-warapper {
  padding-right: 3em;
  padding-left: 3em;
}
.contact-text {
  font-size: 2.5em;
}
.footer-link.shuffle {
  font-size: 1.2em;
  line-height: 2.4em;
}
.signature {
  left: 7%}
.nav-link.shuffle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.image-2 {
  margin-right: 20px;
}
.lottie {
  width: 15em;
}
.office-img {
  height: 38em;
}
.case-img-wrapper {
  height: 20em;
  background-position: 50% 50%;
  background-size: cover;
}
.img-parll-wrap {
  height: 38em;
}
.case-heading {
  margin-top: 2rem;
  font-size: 4em;
}
.case-heading.is-centered.is-smaller {
  font-size: 3em;
}
.img-frame.is-overlap-down {
  margin-top: 1em;
  margin-bottom: 1em;
}
.case-imgs {
  margin-top: 10px;
  padding-right: 0;
  padding-left: 0;
}
.bg-image-section {
  min-height: 30vh;
}
.bg-video {
  width: 18rem;
  height: 11.5rem;
}
.bg-video.smaller {
  height: 14em;
}
.link {
  font-size: 1em;
}
.custom-video.iphone {
  width: auto;
}
.case-footer, .visit-cta {
  font-size: 4em;
}
.section-cases {
  padding: 20px 15px 10px;
}
.case-columns {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.case-columns.with-gaps {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}
.case-display {
  font-size: 5em;
}
.spacer-15em {
  display: none;
}
.work-line {
  font-size: 3em;
  line-height: 1.5em;
}

.top-bubble {
  height: 140.vh
}


#work {
  margin-top: 2em;
}
#work .workList {
  font-size: 2.5em;
  margin: 1.5em 0;
}

.bubble-wrap {
  background-color: #fff;
  padding-bottom: 1500px;
}

}


@font-face  {
font-family:  'Trovas';
src:  url('https://uploads-ssl.webflow.com/62a753b7c24d4ba72aa0f213/62a9e1b8c192c81087775db7_TrovasRegular-rgGOy.otf') format('opentype');
font-weight:  400;
font-style:  normal;
font-display:  block;
}